html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 72px;
  text-align: center;
  margin: 0;
}

.thanks-logo {
  width: 500px;
  margin: 0 auto;
}

.about {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.about h2 {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

.about a {
  width: 500px;
  margin: 0 auto;
}

.yellow {
  color: #f4d833;
}

.rrss-logo {
  width: 100px;
  height: 100px;
}

.rrss-logo:hover {
  opacity: .8;
}

.rrss__item {
  font-family: 'Caveat', cursive;
  font-size: 48px;
  margin-left: 50px;
  padding: 0;
  display: flex;
}

.rrss__item h3 {
  padding: 0;
  margin: 10px;
}

.rrss {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

.rrss a {
  text-decoration: none;
  color: #000;
}

.rrss a:hover {
  color: #f4d833;
}

footer {
  text-align: center;
  padding: 15px;
}

footer a {
  text-decoration: none;
  color: #000;
}
