@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Open Sans';
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}

#grid div {
  float: left;
  position: relative;
}

.content {
  display: flex;
}

.bars {
  flex: 2;
}
